HOST=0.0.0.0
PORT=1337

# Four comma-separated random base64 strings
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
ENCRYPTION_KEY=

DATABASE_CLIENT=postgres
# On Railway: ${{Postgres.DATABASE_URL}}
DATABASE_URL=
DATABASE_SSL=false
